@import 'tailwindcss';
/* @import 'prism-themes/themes/prism-tomorrow.css'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Prism VSC Dark Plus 테마를 prose 영역 코드블록에만 적용 */
@import 'prism-themes/themes/prism-vsc-dark-plus.css';
.prose pre code,
.prose code {
  font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
    'Courier New', monospace;
}
